# Backend (NestJS) API Adresi - Lokal geliştirme için
# Ekip arkadaşın backend'i hangi portta ayağa kaldırdıysa (örn: 3000, 3001, 5000) burayı ona göre güncelle
NEXT_PUBLIC_API_URL=http://localhost:3001

# Frontend Web Adresi (Kendi çalıştığın port)
NEXT_PUBLIC_APP_URL=http://localhost:3000