# Backend (NestJS) API Adresi - Lokal geliştirme için
# Ekip arkadaşın backend'i hangi portta ayağa kaldırdıysa (örn: 3000, 3001, 5000) burayı ona göre güncelle
NEXT_PUBLIC_API_URL=http://localhost:3001

# Frontend Web Adresi (Kendi çalıştığın port)
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Firebase Adresleri
NEXT_PUBLIC_FIREBASE_API_KEY=gercek_api_keyin
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=gercek_auth_domainin
NEXT_PUBLIC_FIREBASE_PROJECT_ID=gercek_project_id
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=gercek_storage_bucket
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=gercek_sender_id
NEXT_PUBLIC_FIREBASE_APP_ID=gercek_app_id
NEXT_PUBLIC_FIREBASE_VAPID_KEY=gercek_vapid_keyin